.ring2{
    position:relative;
    height: 550px !important;
    width: 800px !important;
    /* justify-content: center; */
    /* align-items: center; */

}

.ring2 i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
    pointer-events: none; 
}

.ring2 i:nth-child(1){
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring2 i:nth-child(2){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring2 i:nth-child(3){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 10s linear infinite;
}
.ring2:hover i{
    border: 2px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

