.dashboard{
    display: flex;
    gap: 20px;
    /* background: linear-gradient(200deg, rgba(127, 71, 217, 255), rgba(76, 135, 174, 255), rgba(39, 161, 146, 255)); */
    background: #f3f4f6;
}
.dashboard--content{
    background: #fff;
    flex:1;
    border-radius: 100px;
    padding: 2rem;
    /* display: flex; */
    gap: 1.5rem;
    justify-content: space-between;
}