<!DOCTYPE html>
<html>
<head>
    <title>Condidature pour passer un test d'orientation universitaire</title>
</head>
<body>
<h1>Bonjour, [[${studentNom}]] !</h1>
<p>Thank you for using our service. Here are your details:</p>
<ul>
    <li>Email: [[${studentEmail}]]</li>
</ul>
<a href="[[${link}]]" style="text-decoration: none; color: white; background-color: #007bff; padding: 10px 15px; border-radius: 5px; display: inline-block;">Passer le test</a>
<p>si le button ne marche pas, passer par ce lien: [[${link}]]</p>

<p>Salutation, directeur : [[${directeurNom}]] [[${directeurPrenom}]]</p>
</body>
</html>
